<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Plataforma Azuos - Acessos</title>
  <link rel="stylesheet" href="../static/css/historico.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
<button class="voltar-button" onclick="window.location.href='../templates/index2.html'">
  &larr; Voltar
</button>
<img src="../assets/logo.png" alt="Logo Azuos" class="logo">
  <div class="container">

    <div class="section">
      <p>Suas respostas do formulário registradas:</p>
      <button class="button dark-blue" onclick="window.location.href='../templates/forms.html'">
        <i class="fas fa-pen"></i> Acesse
      </button>
    </div>

    <div class="section">
      <p>Seu relatório (resultado e análise de suas respostas):</p>
      <button class="button teal" onclick="window.location.href='../templates/index2.html'">
        <i class="fas fa-poll"></i> Acesse
      </button>
    </div>

    
    <div class="section">
      <p>Sua trilha de capacitação:</p>
      <button class="button dark-blue" onclick="window.location.href='trilha.html'">
        <i class="fas fa-book"></i> Acesse
      </button>
    </div>
  </div>
</body>
</html>
